<?xml version="1.0" encoding="utf-8"?>
<!--~
  ~ @package   AkeebaEngage
  ~ @copyright Copyright (c)2020-2022 Nicholas K. Dionysopoulos / Akeeba Ltd
  ~ @license   GNU General Public License version 3, or later
  -->
<config>
    <inlinehelp button="show"/>
    <fieldset
            name="basic"
            label="COM_ENGAGE_CONFIG_BASIC_FIELDSET_LABEL"
            description="COM_ENGAGE_CONFIG_BASIC_FIELDSET_DESC"
    >
        <field
                name="max_level"
                type="integer"
                label="COM_ENGAGE_CONFIG_MAX_LEVEL_LABEL"
                description="COM_ENGAGE_CONFIG_MAX_LEVEL_DESC"
                default="3"
                first="1" last="6" step="1"
        />

        <field
                name="default_limit"
                type="list"
                label="COM_ENGAGE_DEFAULT_LIMIT_LABEL"
                description="COM_ENGAGE_DEFAULT_LIMIT_DESC"
                default="20"
                useglobal="1"
        >
            <option value="5">J5</option>
            <option value="10">J10</option>
            <option value="15">J15</option>
            <option value="20">J20</option>
            <option value="25">J25</option>
            <option value="30">J30</option>
            <option value="50">J50</option>
            <option value="100">J100</option>
            <option value="200">J200</option>
            <option value="500">J500</option>
            <option value="0">JALL</option>
        </field>

        <field
                name="captcha"
                type="plugins"
                label="COM_ENGAGE_CONFIG_CAPTCHA_LABEL"
                description="COM_ENGAGE_CONFIG_CAPTCHA_DESC"
                folder="captcha"
                filter="cmd"
                useglobal="true"
        >
            <option value="-1">JOPTION_DO_NOT_USE</option>
        </field>

        <field
                name="captcha_for"
                type="list"
                label="COM_ENGAGE_CONFIG_CAPTCHA_FOR_LABEL"
                description="COM_ENGAGE_CONFIG_CAPTCHA_FOR_DESC"
                default="guests"
                showon="captcha!:-1"
        >
            <option value="guests">COM_ENGAGE_CONFIG_CAPTCHA_FOR_GUESTS</option>
            <option value="nonmanager">COM_ENGAGE_CONFIG_CAPTCHA_FOR_NONMANAGER</option>
            <option value="all">COM_ENGAGE_CONFIG_CAPTCHA_FOR_ALL</option>
        </field>

        <field
                name="tos_accept"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_ENGAGE_CONFIG_TOS_ACCEPT_LABEL"
                description="COM_ENGAGE_CONFIG_TOS_ACCEPT_DESC"
                default="0"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="tos_prompt"
                type="text"
                label="COM_ENGAGE_CONFIG_TOS_PROMPT_LABEL"
                description="COM_ENGAGE_CONFIG_TOS_PROMPT_DESC"
                default=""
                filter="safehtml"
                class="input-xxlarge"
                showon="tos_accept!:0"
        />

        <field
                name="comments_reply_bad_ux"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_ENGAGE_COMMENTS_REPLY_BAD_UX_LABEL"
                description="COM_ENGAGE_COMMENTS_REPLY_BAD_UX_DESC"
                default="0"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="min_length"
                type="number"
                label="COM_ENGAGE_COMMENTS_MIN_LENGTH_LABEL"
                description="COM_ENGAGE_COMMENTS_MIN_LENGTH_DESC"
                default="0"
                min="0"
                max="1048576"
                step="1"
        />

        <field
                name="max_length"
                type="number"
                label="COM_ENGAGE_COMMENTS_MAX_LENGTH_LABEL"
                description="COM_ENGAGE_COMMENTS_MAX_LENGTH_DESC"
                default="0"
                min="0"
                max="1048576"
                step="1"
        />

        <field
                name="header_overridable"
                type="note"
                label="COM_ENGAGE_CONFIG_HEADER_OVERRIDABLE_HEADER"
        />

        <field
                type="note"
                class="alert alert-info"
                description="COM_ENGAGE_CONFIG_HEADER_OVERRIDABLE_DESC"
        />

        <field
                name="default_publish"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_ENGAGE_DEFAULT_PUBLISH_LABEL"
                description="COM_ENGAGE_DEFAULT_PUBLISH_DESC"
                default="1"
        >
            <option value="1">JPUBLISHED</option>
            <option value="0">JUNPUBLISHED</option>
        </field>

        <field
                name="comments_show"
                type="list"
                label="COM_ENGAGE_COMMENTS_SHOW_LABEL"
                description="COM_ENGAGE_COMMENTS_SHOW_DESC"
                default="1"
        >
            <option value="1">JSHOW</option>
            <option value="0">JHIDE</option>
        </field>

        <field
                name="comments_show_featured"
                type="list"
                label="COM_ENGAGE_COMMENTS_SHOW_FEATURE_LABEL"
                description="COM_ENGAGE_COMMENTS_SHOW_FEATURE_DESC"
                default="1"
                showon="comments_show:1"
        >
            <option value="0">JHIDE</option>
            <option value="1">COM_ENGAGE_OPT_COMMENTS_SHOW_BEFORE</option>
            <option value="2">COM_ENGAGE_OPT_COMMENTS_SHOW_AFTER</option>
        </field>

        <field
                name="comments_show_category"
                type="list"
                label="COM_ENGAGE_COMMENTS_SHOW_CATEGORY_LABEL"
                description="COM_ENGAGE_COMMENTS_SHOW_CATEGORY_DESC"
                default="1"
                showon="comments_show:1"
        >
            <option value="0">JHIDE</option>
            <option value="1">COM_ENGAGE_OPT_COMMENTS_SHOW_BEFORE</option>
            <option value="2">COM_ENGAGE_OPT_COMMENTS_SHOW_AFTER</option>
        </field>

        <field
                name="comments_show_article"
                type="list"
                label="COM_ENGAGE_COMMENTS_SHOW_ARTICLE_LABEL"
                description="COM_ENGAGE_COMMENTS_SHOW_ARTICLE_DESC"
                default="1"
                showon="comments_show:1"
        >
            <option value="0">JHIDE</option>
            <option value="1">COM_ENGAGE_OPT_COMMENTS_SHOW_BEFORE</option>
            <option value="2">COM_ENGAGE_OPT_COMMENTS_SHOW_AFTER</option>
        </field>

        <field
                name="comments_ordering"
                type="list"
                label="COM_ENGAGE_COMMENTS_ORDERING_LABEL"
                description="COM_ENGAGE_COMMENTS_ORDERING_DESC"
                default="asc"
                showon="comments_show:1"
        >
            <option value="asc">JGLOBAL_ORDER_ASCENDING</option>
            <option value="desc">JGLOBAL_ORDER_DESCENDING</option>
        </field>

        <field
                name="comments_enabled"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_ENGAGE_COMMENTS_ENABLED_LABEL"
                description="COM_ENGAGE_COMMENTS_ENABLED_DESC"
                default="1"
                showon="comments_show:1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="comments_close_after"
                type="integer"
                label="COM_ENGAGE_COMMENTS_CLOSE_AFTER_LABEL"
                description="COM_ENGAGE_COMMENTS_CLOSE_AFTER_DESC"
                first="0" last="3650" step="1"
                default="0"
                showon="comments_show:1[AND]comments_enabled:1"
        />

        <field
                name="comments_notify_author"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_ENGAGE_COMMENTS_NOTIFY_AUTHOR_LABEL"
                description="COM_ENGAGE_COMMENTS_NOTIFY_AUTHOR_DESC"
                default="1"
                showon="comments_enabled:1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="comments_notify_users"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_ENGAGE_COMMENTS_NOTIFY_USERS_LABEL"
                description="COM_ENGAGE_COMMENTS_NOTIFY_USERS_DESC"
                default="1"
                showon="comments_enabled:1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

    </fieldset>

    <fieldset
            name="filtering"
            label="COM_ENGAGE_CONFIG_FILTERING_FIELDSET_LABEL"
            description="COM_ENGAGE_CONFIG_FILTERING_FIELDSET_DESC"
    >

        <field
                type="list"
                name="filter_mode"
                default="strict"
                label="COM_ENGAGE_CONFIG_FILTER_MODE_LABEL"
                description="COM_ENGAGE_CONFIG_FILTER_MODE_DESC">
            <option value="joomla">COM_ENGAGE_CONFIG_FILTER_MODE_JOOMLA</option>
            <option value="htmlpurifier">COM_ENGAGE_CONFIG_FILTER_MODE_HTMLPURIFIER</option>
            <option value="strict">COM_ENGAGE_CONFIG_FILTER_MODE_STRICT</option>
        </field>

        <field
                name="htmlpurifier_config_joomla"
                type="radio"
                layout="joomla.form.field.radio.switcher"
                label="COM_ENGAGE_CONFIG_HTMLPURIFIER_CONFIG_JOOMLA_LABEL"
                description="COM_ENGAGE_CONFIG_HTMLPURIFIER_CONFIG_JOOMLA_DESC"
                default="0"
                showon="filter_mode:htmlpurifier[OR]filter_mode:strict"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="htmlpurifier_configstring"
                type="textarea"
                default="p,b,a[href],i,u,strong,em,small,big,span[style],font[size],font[color],ul,ol,li,br,img[src],img[width],img[height],code,pre,blockquote"
                class="input-xlarge"
                cols="50"
                rows="10"
                label="COM_ENGAGE_CONFIG_HTMLPURIFIER_CONFIGSTRING_LABEL"
                description="COM_ENGAGE_CONFIG_HTMLPURIFIER_CONFIGSTRING_DESC"
                showon="filter_mode:htmlpurifier[AND]htmlpurifier_config_joomla:0[OR]filter_mode:strict"
        />
    </fieldset>

    <fieldset
            name="advanced"
            label="COM_ENGAGE_CONFIG_ADVANCED_FIELDSET_LABEL"
            description="COM_ENGAGE_CONFIG_ADVANCED_FIELDSET_DESC"
    >
        <field
                name="login_module"
                type="ModulesModule"
                addfieldprefix="Joomla\Component\Modules\Administrator\Field"
                default="mod_login"
                label="COM_ENGAGE_CONFIG_LOGIN_LABEL"
                description="COM_ENGAGE_CONFIG_LOGIN_DESC">
            <option value="-1">COM_ENGAGE_CONFIG_LOGIN_NONE</option>
        </field>

        <field
                name="iplookup"
                type="text"
                default="https://whatismyipaddress.com/ip/%s"
                label="COM_ENGAGE_CONFIG_IPLOOKUP_LABEL"
                description="COM_ENGAGE_CONFIG_IPLOOKUP_DESC"/>

        <field
                name="max_spam_age"
                type="integer"
                first="0"
                last="365"
                step="1"
                default="15"
                label="COM_ENGAGE_CONFIG_MAX_SPAM_AGE_LABEL"
                description="COM_ENGAGE_CONFIG_MAX_SPAM_AGE_DESC"/>

        <field name="loadCustomCss"
               type="radio"
               layout="joomla.form.field.radio.switcher"
               default="0"
               label="COM_ENGAGE_CONFIG_LOADCUSTOMCSS_LABEL"
               description="COM_ENGAGE_CONFIG_LOADCUSTOMCSS_DESC"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
                name="htmlpurifier_include"
                type="list"
                default="composer"
                label="COM_ENGAGE_CONFIG_HTMLPURIFIER_INCLUDE_LABEL"
                description="COM_ENGAGE_CONFIG_HTMLPURIFIER_INCLUDE_DESC"
                showon="filter_mode:htmlpurifier[OR]filter_mode:strict"
        >
            <option value="composer">COM_ENGAGE_CONFIG_HTMLPURIFIER_INCLUDE_COMPOSER</option>
            <option value="auto">COM_ENGAGE_CONFIG_HTMLPURIFIER_INCLUDE_AUTO</option>
            <option value="all">COM_ENGAGE_CONFIG_HTMLPURIFIER_INCLUDE_ALL</option>
        </field>
    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                filter="rules"
                component="com_engage"
                section="component"/>
    </fieldset>
</config>
